.bigBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.slot {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.9rem);
    padding: 10px;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;
}

.slot::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #dddddd4d, transparent);
    transition: 0.4s;
    pointer-events: none;
}

.slot:hover::after {
    left: 40%;
}

.btnWeather {
    width: 8rem;
    height: 3rem;
    line-height: 2.45rem;
    text-align: center;
    background: transparent;
    border: 0.13rem solid #fff;
    outline: none;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    color: #fff;
    font-weight: 500;
    margin-left: 3rem;
    transition: .5s;
    text-decoration: none;
    display: inline-block;
}

.btnWeather:hover {
    background: #fff;
    color: #162938;
}

.choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    color: white;
}

.container {
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InformationBox {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(60px);
    border: 0.13rem solid #3677b49a;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    height: 90%;
    display: flex;
    color: white;
    transition: .7s;
}

.InformationBox:hover {
    box-shadow: 0 0 1rem #c2c2c28f;
    background-color: #9189893f;
}

.SearchBox {
    display: flex;
    justify-content: center;
    width: 100%;
    user-select: none;
}

.input1 {
    display: flex;
    width: 100%;
    height: 8%;
    justify-content: space-between;
}

.input1 p {
    margin-left: 1.1rem;
    margin-top: 0.5rem;
    line-height: 0.4;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.first-div {
    margin-right: 6rem;
    margin-left: 3rem;
}

.second-div {
    margin-left: 6rem;
    margin-right: 6rem;
}

.input1 input {
    margin-right: 30%;
    margin-left: 1.1rem;
    line-height: 1;
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 0.13rem solid #fff;
    font-size: 1.2rem;
    color: white;
    /* text-shadow: -0.2px -0.2px 0 rgba(0, 0, 0, 0.7), 0.2px -0.2px 0 rgba(0, 0, 0, 0.7), -0.2px 0.2px 0 rgba(0, 0, 0, 0.7), 0.2px 0.2px 0 rgba(0, 0, 0, 0.7); */
    font-weight: 500;
    padding-right: 1.4rem;
    transform: translateY(-0.9rem);
}

.SearchBox input {
    justify-content: space-between;
}

.SearchBox p {
    font-size: 1.5rem;
    color: rgb(71, 142, 208);
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    pointer-events: none;
    font-weight: bold;
}

.SearchBox button {
    position: relative;
    width: 7rem;
    height: 3rem;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border: 0.13rem solid #3677b49a;
    outline: none;
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
}

.SearchBox button::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(rgb(60, 151, 212), rgba(94, 169, 220, 0.7), rgba(94, 169, 220, 0.4), rgba(94, 169, 220, 0.1));
    z-index: -1;
    transition: .5s;
}

.SearchBox button:hover::before {
    top: 0;
}


.option1 {
    position: absolute;
    top: 10%;
    left: 5%;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    border: 0.13rem solid #3677b49a;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.option1 li:hover {
    background-color: rgba(190, 190, 190, 0.7);
}

.option1::-webkit-scrollbar,
.option2::-webkit-scrollbar {
    width: 10px;
    /* 设置滚动条宽度 */
}

.option1::-webkit-scrollbar-thumb,
.option2::-webkit-scrollbar-thumb {
    background-color: rgba(94, 169, 220, 0.7);
    /* 滚动条的拖动块颜色 */
    border-radius: 4px;
    /* 滚动条拖动块的圆角 */
}

.option1::-webkit-scrollbar-track,
.option2::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.4);
    /* 滚动条轨道的颜色 */
    border-radius: 4px;
    /* 滚动条轨道的圆角 */
}

.option1::-webkit-scrollbar-thumb:hover,
.option2::-webkit-scrollbar-thumb:hover {
    background-color: rgba(94, 169, 220, 0.8);
    /* 鼠标悬停时的颜色 */
}

.option1::-webkit-scrollbar-thumb:active,
.option2::-webkit-scrollbar-thumb:active {
    background-color: rgba(94, 169, 220, 0.9);
    /* 鼠标点击时的颜色 */
}

.option2 {
    position: absolute;
    left: 66%;
    top: 10%;
    right: 30%;
    color: black;
    background-color: rgba(255, 255, 255, 0.7); 
    border: 0.13rem solid #3677b49a;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
}

.option2 li:hover {
    background-color: rgba(190, 190, 190, 0.7);
}

.information {
    position: absolute;
    left: 10%;
    top: 13%;
    width: 80%;
    overflow: auto;
    max-height: 85%;
    transition: 0.5s;
    border-radius: 10px;
    padding: 15px;
    /* 调整内边距 */
    box-shadow: 0 0 1rem #c2c2c2;
    /* 添加阴影效果 */
}

.information::-webkit-scrollbar {
    width: 14px;
    /* 设置滚动条宽度 */
}

.information::-webkit-scrollbar-thumb {
    background-color: rgba(94, 169, 220, 0.7);
    /* 滑块（thumb）颜色 */
    border-radius: 6px;
    /* 滑块（thumb）圆角 */
}

.information::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.7);
    /* 滚动条轨道颜色 */
    border-radius: 4px;
    /* 滚动条轨道圆角 */
}

.information::-webkit-scrollbar-thumb:hover {
    background-color: rgba(94, 169, 220, 0.8);
    /* 鼠标悬停时的滑块颜色 */
}

.information::-webkit-scrollbar-thumb:active {
    background-color: rgba(94, 169, 220, 0.9);
    /* 鼠标点击时的滑块颜色 */
}





.routePlan {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0.13rem solid silver;
    border-radius: 10px;
    font-family: 'Your Preferred Font', sans-serif;
    display: flex;
    max-height: 230px;
    padding: 15px;
    color: #333;
    width: 100%;
    overflow-y: auto;
    margin-top: 0;
    margin-bottom: 5%;
    flex-direction: column;
    box-shadow: 0 0 1rem silver;
}

.routePlan::-webkit-scrollbar {
    width: 10px;
    /* 设置滚动条宽度 */
}

.routePlan::-webkit-scrollbar-thumb {
    background-color: rgba(94, 169, 220, 0.7);
    /* 滚动条的拖动块颜色 */
    border-radius: 4px;
    /* 滚动条拖动块的圆角 */
}

.routePlan::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.4);
    /* 滚动条轨道的颜色 */
    border-radius: 4px;
    /* 滚动条轨道的圆角 */
}

.routePlan::-webkit-scrollbar-thumb:hover {
    background-color: rgba(94, 169, 220, 0.8);
    /* 鼠标悬停时的颜色 */
}

.routePlan::-webkit-scrollbar-thumb:active {
    background-color: rgba(94, 169, 220, 0.9);
    /* 鼠标点击时的颜色 */
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.13rem solid #3677b49a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon p {
    font-size: large;
}

.data {
    margin-left: 10px;
}

.stations {
    margin-top: 20px;
    display: flex;
    height: 500px;
}